
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    background: url("./images/drama/peakpx\ \(2\).jpg")no-repeat center center fixed;
    font-family: 'Roboto Slab', serif;
    background-size: cover;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;

} h2, h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

header a:hover {
    color: #ffcc00;
}

/* Movie section styles */
h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    width: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .movie-info {
        padding: 15px;

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            margin-bottom: 15px;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ffcc00;
            color: #333;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #333;
                color: #ffcc00;
            }
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}

/* Footer styles */
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

footer .socials {
    list-style: none;
    padding: 0;
}

footer .socials li {
    display: inline-block;
    margin: 0 10px;
}

footer .socials li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

footer .socials li a img:hover {
    transform: scale(1.2);
}
