<!-- templates/index.html -->

{% extends 'layout.html' %}

{% block content %}

    <h1>Welcome to FilmHaven</h1>

    <div>
        <p>Explore and download your favorite movies!</p>
    </div>

    <h2>Movie List</h2>

    <ul>
        {% for title, movie in movies_data.items() %}
            <li>
                <strong>{{ title }}</strong>
                <p>{{ movie['description'] }}</p>
                <a href="{{ url_for('download', title=title) }}">Download</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
