<!-- templates/layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include additional CSS files here if needed -->
    <title>FilmHaven</title>
</head>
<body>

    <!-- Common header, navigation, or other elements go here -->

    {% block content %}{% endblock %}

    <!-- Common footer or other elements go here -->

</body>
</html>
